main {
    margin: 20px;
}

img {
    max-width: 50%;
    height: auto;
}

p {
    font-size: 17px;
}

.elrendezes{
    display: grid;
    grid-template-columns: 45% 55%;
}

@media screen and (max-width: 600px) {
    .elrendezes {
        grid-template-columns: 100%;
    }
}
