body {
  background-color: antiquewhite;
  color: black;
  font-size: 15px;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h2 {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: italic;
  color: black;
}
