main {
    border: 2px;
    border-style: solid ;
    border-color: burlywood;
}

img {
    border: 2px;
    border-style: solid ;
    border-color: burlywood;
}

p {
    border: 2px;
    border-style: solid ;
    border-color: burlywood;
}