a{
    text-decoration: none;
    color: brown;
    text-align: center;
}

a:hover {
    opacity: 0.5;
}

a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

nav {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

@media screen and (max-width: 600px) {
    grid-template-columns: 100%;
}