a{
    text-decoration: none;
    color: brown;
    text-align: center;
}

a:hover {
    opacity: 0.5;
}

a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

nav {
    display: grid;
    grid-template-columns: 33% 34% 33%;

    border: 1px;
    border-style: solid ;
    border-color: brown;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
    }
}
